/*
*[data-context='danger']{background-color:#f5c6cb;}
*[data-context='warning']{background-color:#ffeeba;}
*[data-context='success']{background-color:#c3e6cb;}*/

/*
.recit-btn{font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
    user-select: none;  border: 1px solid transparent;    padding: 3px;    font-size: 1rem;    line-height: 1.5;    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; cursor: pointer;}

.recit-btn-primary{background-color: #007bff; color: #FFF; border-color: #007bff;}
.recit-btn-success{background-color: #28a745; color: #FFF; border-color: #28a745;}
.recit-btn-warning{background-color: #ffc107; color: #212529; border-color: #ffc107;}
.recit-btn-danger{background-color: #dc3545; color: #FFF; border-color: #dc3545;}
.recit-btn-sm{padding: 1px; font-size: .875rem; line-height: 1.5; border-radius: .2rem;}

.recit-table{width: 100%; border-spacing: 2px; border-color: grey; border-collapse: collapse; color: #333;}
.recit-table thead th{vertical-align: bottom; border-bottom: 2px solid #dee2e6; padding: .75rem;}
.recit-table tbody tr:nth-of-type(odd) {background-color: rgba(0,0,0,.05);}
.recit-table tbody td{font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; padding: 7px; border-top: 1px solid #ddd;}
.recit-table tbody .String{text-align: left;}
.recit-table tbody .Number{text-align: right;}

.recit-form { border-radius: 4px; padding: 20px; margin: 10px;}
.recit-form .recit-form-control { padding: 10px; }
.recti-form .recit-form-control-lg{height: calc(2.875rem + 2px);padding: .5rem 1rem;    font-size: 1.25rem;    line-height: 1.5;    border-radius: .3rem;}
.recit-form .recit-label{font-weight: 500; color: #555; }
.recit-form .recit-input{width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff;
        background-clip: padding-box;    border: 1px solid #ced4da;    border-radius: .25rem;    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.recit-form .recit-help{color:#6c757d; font-size: 80%; font-weight: 400; }


.recit-card{position: relative;    display: -ms-flexbox;    display: flex;    -ms-flex-direction: column;    flex-direction: column;    min-width: 0;    word-wrap: break-word;
    background-color: #fff;     background-clip: border-box;    border: 1px solid rgba(0,0,0,.125);    border-radius: .25rem;     }
.recit-card .recit-card-header{border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;padding: .75rem 1.25rem;    margin-bottom: 0;    background-color: rgba(0,0,0,.03);    border-bottom: 1px solid rgba(0,0,0,.125);
                                font-size: 1.50rem; font-weight: 500;}    
.recit-card .recit-card-body{    flex: 1 1 auto;    padding: 1.25rem;}
.recit-card .recit-card-body .recit-card-title{ margin-bottom: .75rem; font-size: 1.25rem;     font-weight: 500;    line-height: 1.2; }
.recit-card .recit-card-body .recit-card-subtitle{margin-bottom: .75rem;    font-weight: 500;    line-height: 1.2;     color: #6c757d;}
.recit-card .recit-card-body .recit-card-text{margin-top: 0;    margin-bottom: 1rem;}
.recit-card .recit-card-footer{padding: .75rem 1.25rem;    background-color: rgba(0,0,0,.03);    border-top: 1px solid rgba(0,0,0,.125);}
*/